.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  margin: 5vh auto;
}

.img_editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px dotted #9eb8d9;
  border-radius: 4vh;
  padding: 20vh;
  width: 100%;
  background-color: #fff;
}

.img_editor_class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border: 3px outset black;
  border-radius: 2vh;
}

.img_controll {
  margin-left: 10vh;
  background-color: #f3f3f3;
  width: 50%;
  padding: 4vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.img_controllers {
  margin-top: 10vh;
}

.image_viewer {
  margin-top: 10vh !important;
  width: 100%;
  height: 70%;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 2vh;
}

.photo {
  border-radius: none;
}
.download_btn {
  display: flex;
  flex-direction: row;
  width: 40vh;
  padding: 2vh;
  margin-top: -20vh;
  background-color: #11235a !important ;
}

.upload_text {
  font-size: 5vh;
  padding: 2vh !important;
}

.upload_btn {
  margin-top: 2vh !important;
  width: 50vh;
  background-color: #11235a !important ;
  padding: 2vh !important;
}

.slider_color {
  color: #11235a !important;
}

@media (max-width: 450px) {
  .upload_text {
    font-size: 3vh;
  }

  .upload_btn {
    width: 40vh;
  }

  .container {
    border: none;
    background: none;
  }

  .photo {
    border-radius: 4vh !important;
  }

}

@media (max-width: 1000px) {
  .img_editor_class {
    flex-direction: column;
    border: none;
    background: none;
  }

  .img_controll {
    width: 100%;
  }

  .photo {
    border-radius: 4vh !important;
  }

  .download_btn {
    margin-top: -100vh !important;
  }

  .upload_btn {
    display: none !important;
  }

  .image_viewer {
    border: 3px solid #7360df;
    border-radius: 4vh;
  }
}
